.slider_container {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
    padding-top: 70px;
}

.slider_container img {
    min-height: 170px;
}

.slider_container button:nth-child(1) {
    margin-left: auto;
    right: 100px;
}

.header_title {
    position: absolute;
    font-family: 'Spartan';
    font-weight: 400;
}

.category_slider>div>div>div>div {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}